<!DOCTYPE HTML>
<html>
<head>
  <title>Joy</title>
  <meta charset="utf-8">
  <meta name="description" content="Example page of use pure Javascript JoyStick">
  <meta name="author" content="Roberto D'Amico">
  <link rel="shortcut icon" type="image/png" href="http://bobboteck.github.io/img/roberto-damico-bobboteck.png">
  <style>
    * {
      box-sizing: border-box;
    }
    body {
      margin: 0;
      padding: 0;
      font-family: monospace;
    }
    #joy1Div {
      width: 200px;
      height: 200px;
      margin: 50px;
      position: relative;
    }
    #joystick {
      border: 1px solid #FF0000;
    }
  </style>
</head>
<body>

  <script>
    let StickStatus = {
        xPosition: 0,
        yPosition: 0,
        x: 0,
        y: 0,
        cardinalDirection: "C"
    };

    var JoyStick = (function(container, parameters, callback) {
        parameters = parameters || {};
        var title = parameters.title || "joystick";
     	var width = parameters.width || 0;
      	var height = parameters.height || 0;
      	var internalFillColor = parameters.internalFillColor || "#00AA00";
      	var internalLineWidth = parameters.internalLineWidth || 2;
      	var internalStrokeColor = parameters.internalStrokeColor || "#003300";
      	var externalLineWidth = parameters.externalLineWidth || 2;
      	var externalStrokeColor = parameters.externalStrokeColor || "#008000";
      	var autoReturnToCenter = parameters.autoReturnToCenter || true;

        callback = callback || function(StickStatus) {};

        var objContainer = document.getElementById(container);
        var containerRect = objContainer.getBoundingClientRect(); // 박스의 위치와 크기 정보

        objContainer.style.touchAction = "none";

        var canvas = document.createElement("canvas");
        canvas.id = title;
        if(width === 0) { width = objContainer.clientWidth; }
        if(height === 0) { height = objContainer.clientHeight; }
        canvas.width = width;
        canvas.height = height;
        objContainer.appendChild(canvas);
        var context = canvas.getContext("2d");

        var pressed = 0; // Bool - 1=Yes - 0=No
        var circumference = 2 * Math.PI;
        var internalRadius = Math.min(canvas.width, canvas.height) / 8; 
        var maxMoveStick = internalRadius;
        var externalRadius = internalRadius + 10;
        var centerX = canvas.width / 2;
        var centerY = canvas.height / 2;
        var movedX = centerX;
        var movedY = centerY;

        if ("ontouchstart" in document.documentElement) {
            canvas.addEventListener("touchstart", onTouchStart, false);
            document.addEventListener("touchmove", onTouchMove, false);
            document.addEventListener("touchend", onTouchEnd, false);
        } else {
            canvas.addEventListener("mousedown", onMouseDown, false);
            document.addEventListener("mousemove", onMouseMove, false);
            document.addEventListener("mouseup", onMouseUp, false);
        }
        drawExternal();
        drawInternal();

        function drawExternal() {
            context.beginPath();
            context.arc(centerX, centerY, externalRadius, 0, circumference, false);
            context.lineWidth = externalLineWidth;
            context.strokeStyle = externalStrokeColor;
            context.stroke();
        }

        function drawInternal() {
            context.beginPath();
            var dx = movedX - centerX;
            var dy = movedY - centerY;
            var distance = Math.sqrt(dx * dx + dy * dy);
            if (distance > maxMoveStick) {
                movedX = centerX + (dx / distance) * maxMoveStick;
                movedY = centerY + (dy / distance) * maxMoveStick;
            }
            context.arc(movedX, movedY, internalRadius, 0, circumference, false);
            var grd = context.createRadialGradient(centerX, centerY, 5, centerX, centerY, 200);
            grd.addColorStop(0, internalFillColor);
            grd.addColorStop(1, internalStrokeColor);
            context.fillStyle = grd;
            context.fill();
            context.lineWidth = internalLineWidth;
            context.strokeStyle = internalStrokeColor;
            context.stroke();
        }

        let touchId = null;
        function onTouchStart(event) {
            if (isInsideBox(event)) {
                pressed = 1;
                touchId = event.targetTouches[0].identifier;
            }
        }

        function onTouchMove(event) {
            if (pressed === 1 && event.targetTouches[0].identifier === touchId) {
                if (isInsideBox(event)) {
                    movedX = event.targetTouches[0].pageX - containerRect.left;
                    movedY = event.targetTouches[0].pageY - containerRect.top;
                    context.clearRect(0, 0, canvas.width, canvas.height);
                    drawExternal();
                    drawInternal();
                    StickStatus.xPosition = movedX;
                    StickStatus.yPosition = movedY;
                    StickStatus.x = (100 * ((movedX - centerX) / maxMoveStick)).toFixed();
                    StickStatus.y = ((100 * ((movedY - centerY) / maxMoveStick)) * -1).toFixed();
                    StickStatus.cardinalDirection = getCardinalDirection();
                    callback(StickStatus);
                }
            }
        }

        function onTouchEnd(event) {
            if (event.changedTouches[0].identifier !== touchId) return;
            pressed = 0;
            if (autoReturnToCenter) {
                movedX = centerX;
                movedY = centerY;
            }
            context.clearRect(0, 0, canvas.width, canvas.height);
            drawExternal();
            drawInternal();
            StickStatus.xPosition = movedX;
            StickStatus.yPosition = movedY;
            StickStatus.x = (100 * ((movedX - centerX) / maxMoveStick)).toFixed();
            StickStatus.y = ((100 * ((movedY - centerY) / maxMoveStick)) * -1).toFixed();
            StickStatus.cardinalDirection = getCardinalDirection();
            callback(StickStatus);
        }

        function onMouseDown(event) {
            if (isInsideBox(event)) {
                pressed = 1;
            }
        }

        function onMouseMove(event) {
            if (pressed === 1 && isInsideBox(event)) {
                movedX = event.pageX - containerRect.left;
                movedY = event.pageY - containerRect.top;
                context.clearRect(0, 0, canvas.width, canvas.height);
                drawExternal();
                drawInternal();
                StickStatus.xPosition = movedX;
                StickStatus.yPosition = movedY;
                StickStatus.x = (100 * ((movedX - centerX) / maxMoveStick)).toFixed();
                StickStatus.y = ((100 * ((movedY - centerY) / maxMoveStick)) * -1).toFixed();
                StickStatus.cardinalDirection = getCardinalDirection();
                callback(StickStatus);
            }
        }

        function onMouseUp(event) {
            pressed = 0;
            if (autoReturnToCenter) {
                movedX = centerX;
                movedY = centerY;
            }
            context.clearRect(0, 0, canvas.width, canvas.height);
            drawExternal();
            drawInternal();
            StickStatus.xPosition = movedX;
            StickStatus.yPosition = movedY;
            StickStatus.x = (100 * ((movedX - centerX) / maxMoveStick)).toFixed();
            StickStatus.y = ((100 * ((movedY - centerY) / maxMoveStick)) * -1).toFixed();
            StickStatus.cardinalDirection = getCardinalDirection();
            callback(StickStatus);
        }

        function isInsideBox(event) {
            let rect = canvas.getBoundingClientRect();
            let x = (event.touches ? event.touches[0].pageX : event.pageX) - rect.left;
            let y = (event.touches ? event.touches[0].pageY : event.pageY) - rect.top;
            return x >= 0 && x <= canvas.width && y >= 0 && y <= canvas.height;
        }

        function getCardinalDirection() {
            var direction = "C";
            if (movedX > (centerX + 10)) {
                direction = "E";
            } else if (movedX < (centerX - 10)) {
                direction = "W";
            }
            if (movedY < (centerY - 10)) {
                direction = (direction === "C" ? "N" : direction + "N");
            } else if (movedY > (centerY + 10)) {
                direction = (direction === "C" ? "S" : direction + "S");
            }
            return direction;
        }

        // Return the object instance
        return {
            getStickStatus: function() {
                return StickStatus;
            }
        };
    });

    var joy1IinputPosX = document.getElementById("joy1PosizioneX");
    var joy1InputPosY = document.getElementById("joy1PosizioneY");
    var joy1Direzione = document.getElementById("joy1Direzione");
    var joy1X = document.getElementById("joy1X");
    var joy1Y = document.getElementById("joy1Y");

    // Create JoyStick object into the DIV 'joy1Div'
    var Joy1 = new JoyStick('joy1Div', {}, function(stickData) {
      joy1IinputPosX.value = stickData.xPosition;
      joy1InputPosY.value = stickData.yPosition;
      joy1Direzione.value = stickData.cardinalDirection;
      joy1X.value = stickData.x;
      joy1Y.value = stickData.y;
    });
  </script>
</body>
</html>
